node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
coverage
.vscode
.idea
*.log
.DS_Store
README.md
server/node_modules
server/.env